:host ::ng-deep .xng-breadcrumb-list {
    font-weight: 500;
    font-size: 13px;
}

:host ::ng-deep .xng-breadcrumb-link {
    color: #475569;
}

:host ::ng-deep .xng-breadcrumb-link:hover {
    color: #475569;
    text-decoration: none;
}

:host ::ng-deep .xng-breadcrumb-trail {
    color: #334155;
}