<!-- navbar.component.html -->
<nav class="relative min-w-[290px]">
    <div class="container max-w-7xl mx-auto px-6">
        <div class="flex flex-wrap items-center justify-between">
            <div class="flex items-center justify-between h-16 lg:h-20 transition-all duration-300">
                <!-- logotype -->
                <a class="mr-10 z-50" routerLink="/" (click)="openMainPage()">
                    <img class="w-auto h-6" [ngClass]="{'svg-white': isMobileMenuOpen}" src="./assets/bambeo.svg" alt="">
                </a>
                <!-- menu -->
                <div class="hidden text-[0.95rem] sm:flex sm:flex-row sm:items-center ml-3 md:ml-5 lg:ml-16 lg:mr-6">
                    <a routerLink="/"
                        class="text-slate-800 hover:text-slate-900 px-1 py-2 xl:px-3 lg:py-4 mx-3 mt-2 md:border-b-2 md:hover:border-rose-500 lg:mt-0">Strona
                        Główna</a>
                    <a href="#"
                        class="text-slate-800 hover:text-slate-900 px-1 py-2 xl:px-3 lg:py-4 mx-3 mt-2 md:border-b-2 md:hover:border-rose-500 lg:mt-0">
                        Jak Korzystać</a>
                </div>
            </div>
            <div class="flex items-center">
                <ng-container *ngIf="!isAuthStatusChecked; else authRelatedContent">
                    <!-- loading spinner -->
                    <div class="mr-5 text-center">
                        <bb-loading-spinner [width]="'1.5rem'" [height]="'1.5rem'"></bb-loading-spinner>
                    </div>
                </ng-container>
                <ng-template #authRelatedContent>
                    <!-- log in / sign up -->
                    <div class="hidden sm:block" *ngIf="!authService.isLoggedIn()" @fadeIn>
                        <button routerLink="account/login" type="button"
                            class="text-white lg:text-slate-700 bg-rose-500 lg:bg-transparent hover:bg-rose-600 lg:hover:bg-slate-50 focus:ring-4 focus:ring-rose-300 lg:focus:ring-slate-300 rounded-lg py-2 px-3 md:px-5 md:py-2.5 lg:mr-2 ml-4 transition-[padding] duration-300 focus:outline-none">
                            Zaloguj Się
                        </button>
                        <button routerLink="account/signup" type="button"
                            class="hidden lg:inline-flex text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg py-2 px-3 md:px-5 md:py-2.5 ml-2 transition-[padding] duration-300 focus:outline-none text-center items-center">
                            <svg class="w-3 h-3 text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 14 18">
                                <path
                                    d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                            </svg>
                            Zarejestruj Się
                        </button>
                    </div>
                    <!-- profile menu -->
                    <div class="hidden sm:block" *ngIf="userService.currentUser$ | async as user" @fadeIn>
                        <!-- profile dropdown -->
                        <app-profile-menu-dropdown [user]="user" (logout)="logout()"></app-profile-menu-dropdown>
                    </div>
                </ng-template>
                <!-- mobile menu toggle -->
                <button (click)="toggleMobileMenu()" type="button" class="ml-1 sm:hidden focus:outline-none z-50">
                    <span class="sr-only">Open mobile menu</span>
                    <span class="block h-[5px] w-7 rounded-lg my-1 transition-all duration-300"
                        [ngClass]="{'transform rotate-45 translate-y-[8px] -translate-x-[1px] bg-white': isMobileMenuOpen, 'bg-rose-500': !isMobileMenuOpen}"></span>
                    <span class="block h-[5px] w-5 rounded-lg bg-rose-500 my-1 transition-opacity duration-300"
                        [ngClass]="{'opacity-0': isMobileMenuOpen, 'opacity-100': !isMobileMenuOpen}"></span>
                    <span class="block h-[5px] w-7 rounded-lg my-1 transition-all duration-300"
                        [ngClass]="{'transform -rotate-45 -translate-y-[8px] -translate-x-[1px] bg-white': isMobileMenuOpen, 'bg-rose-500': !isMobileMenuOpen}"></span>
                </button>
                <!-- mobile menu -->
                <app-mobile-menu *ngIf="isAuthStatusChecked && isMobileMenuOpen" [isOpen]="isMobileMenuOpen"
                    [user]="userService.currentUser$ | async" [isLoggedIn]="authService.isLoggedIn()"
                    (closeMenu)="toggleMobileMenu()" (logout)="logout()" class="z-40" @fadeInOut></app-mobile-menu>
            </div>
        </div>
    </div>
</nav>