<div class="container max-w-7xl min-w-[320px] mx-auto lg:px-6 relative">
    <div class="flex justify-between">
        <div class="lg:w-3/12 lg:min-w-[250px]"
            [ngClass]="{
                'fixed inset-y-0 left-0 z-[199] w-full h-full bg-white shadow-black shadow-lg transform overflow-y-scroll': isMobileVersion, 
                '-translate-y-0': isFilterPageOpen && isMobileVersion, 
                'translate-y-full': !isFilterPageOpen && isMobileVersion
            }" #filterPage>
            <div class="lg:hidden flex justify-center">
                <div class="h-1 w-10 mt-2 bg-slate-300"></div>
            </div>
            <div class="lg:hidden flex items-center justify-between p-5">
                <div class="text-2xl font-semibold text-slate-700">
                    Filtry
                </div>
                <button type="button" 
                class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-slate-400 hover:text-slate-500"
                (click)="toggleFilterPage()">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!-- store search and select -->
            <app-store-select 
                (storeSelected)="onStoreSelected($event)"
                [stores]="stores"
                *ngIf="stores.length > 0"
                @fadeIn>
            </app-store-select>
            <!-- category select -->
            <div class="lg:border lg:border-slate-200 lg:rounded-xl mt-5"
                *ngIf="categories.length > 0">
                <app-category-select 
                    (categorySelected)="onCategorySelected($event)"
                    [categories]="categories"
                    @fadeIn>
                </app-category-select>
                <!-- show upcoming promotions -->
                <div class="p-4 my-5" @fadeIn>
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input type="checkbox" value=""
                        class="sr-only peer"
                        (click)="onShowUpcomingPromotions()" 
                        [(ngModel)]="promotionParams.includeUpcomingPromotions">
                        <div class="w-11 h-6 bg-slate-100 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-fuchsia-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-fuchsia-600"></div>
                        <span class="ml-3 text-sm font-medium text-slate-900">Nadchodzące promocji</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- products -->
        <div class="w-full lg:w-9/12 lg:ml-10">
            <div class="h-0" #spaceForFilterBarWhenFixed></div>
            <div class="flex w-full justify-between lg:justify-end items-center bg-white lg:bg-transparent py-2 px-2 lg:px-0 shadow lg:shadow-none" #filterBar>
                <div class="flex w-full justify-between lg:justify-end items-center mx-2" 
                *ngIf="isPromotionsLoaded" @fadeIn>
                    <div class="lg:hidden flex sm:flex-1">
                        <button #toggleFilterPageButton
                        class="items-center p-2.5 text-slate-500 hover:text-slate-500 bg-slate-50 rounded-lg"
                        (click)="toggleFilterPage(); $event.stopPropagation()"
                        type="button">
                            <svg class="w-4 h-4 md:h-5 md:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="hidden w-full lg:flex">
                        <app-paging-header
                            [totalCount]="totalCount"
                            [pageSize]="promotionParams.pageSize"
                            [pageIndex]="promotionParams.pageIndex">
                        </app-paging-header>
                    </div>
                    <div class="sm:w-3/5 sm:flex-2 lg:w-fit lg:order-2 lg:block lg:ml-5 mr-0 sm:mr-4 lg:mr-0">
                        <app-search
                            (queryChanged)="onPromotionSearch($event)">
                        </app-search>
                    </div>
                    <app-sort
                        (sortTypeChanged)="onSortTypeChanged($event)"
                        [selectedSortType]="promotionParams.sortType">
                    </app-sort>
                </div>
            </div>
            <!-- user search filters -->
            <app-user-filters 
                *ngIf="isPromotionsLoaded && userFilters.length > 0"
                [userFilters]="userFilters"
                (onResetFilters)="resetFilters()" @fadeIn>
            </app-user-filters>
            <!-- promotions list -->
            <div class="flex flex-wrap justify-between items-center mt-3 lg:mt-0 relative"
                *ngIf="isPromotionsLoaded" @fadeIn>
                <ngx-spinner bdColor="rgba(255,255,255,0.0)" size="medium" color="#e11d48" type="ball-spin-rotate" 
                [fullScreen]="true" [name]="promotionsLoadingSpinner"></ngx-spinner>
                <div class="flex w-full xs:w-1/2" 
                    *ngFor="let promotion of promotions">
                    <app-promotion-item class="m-2 w-full"
                        [promotion]="promotion">
                    </app-promotion-item>
                </div>
                <div class="flex-row w-full mt-4 justify-center">
                    <app-paginator
                        *ngIf="totalCount > 0"
                        [totalCount]="totalCount"
                        [pageSize]="promotionParams.pageSize"
                        [pageIndex]="promotionParams.pageIndex"
                        (pageChange)="onPageChanged($event)">
                    </app-paginator>                
                    <div class="flex items-center w-fit p-4 space-x-4 text-slate-600 bg-white divide-x divide-gray-200 rounded-lg shadow space-x"
                        *ngIf="totalCount <= 0">
                        <i class="fa-solid fa-face-sad-cry fa-2xl text-yellow-300"></i>
                        <div class="pl-4 text-sm font-normal">Szukaliśmy, szukaliśmy, ale nie znaleźliśmy nic, co by spełniło twoje oczekiwania :(</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>