<div class="container max-w-7xl min-w-[320px] mx-auto lg:px-6 lg:mb-32">
    <ngx-spinner bdColor="rgba(255,255,255,0.0)" size="medium" color="#e11d48" type="ball-spin-rotate"
        [fullScreen]="true" [name]="dataLoadingSpinner"></ngx-spinner>
    <ngx-spinner bdColor="rgba(255,255,255,0.0)" size="medium" color="#e11d48" type="ball-spin-rotate"
        [fullScreen]="true" [name]="promotionsLoadingSpinner"></ngx-spinner>
    <div class="flex justify-between">
        <!-- Store & Category Filters -->
        <div class="lg:w-3/12 lg:min-w-[250px]" [ngClass]="{
                'fixed inset-y-0 left-0 z-[199] w-full h-full bg-white shadow-black shadow-lg transform overflow-y-scroll': isMobileVersion,
                '-translate-y-0': isFilterPageOpen && isMobileVersion,
                'translate-y-full': !isFilterPageOpen && isMobileVersion
            }" #filterPage>
            <div class="lg:hidden flex justify-center">
                <div class="h-1 w-10 mt-2 bg-slate-300"></div>
            </div>
            <div class="lg:hidden flex items-center justify-between p-5">
                <div class="text-2xl font-semibold text-slate-700">
                    Filtry
                </div>
                <button type="button"
                    class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-slate-400 hover:text-slate-500"
                    (click)="toggleFilterPage()">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!-- Select Store -->
            <app-select-store [stores]="stores" *ngIf="stores.length > 0" @fadeIn>
            </app-select-store>
            <!-- Select Category -->
            <div class="lg:border lg:border-slate-200 lg:rounded-xl mt-5" *ngIf="categories.length > 0">
                <app-select-category [categories]="categories" @fadeIn>
                </app-select-category>
                <!-- Other Promotion Options -->
                <div class="p-4 my-5" @fadeIn>
                    <app-promotion-options></app-promotion-options>
                </div>
            </div>
        </div>
        <!-- Products Section -->
        <div class="w-full lg:w-9/12 lg:ml-10" *ngIf="isPromotionsLoaded">
            <!-- Space for Fixed Filter Bar -->
            <div class="h-0" #spaceForFilterBarWhenFixed></div>
            <!-- Filter Bar -->
            <div class="flex w-full justify-between lg:justify-end items-center bg-white
                        lg:bg-transparent py-2 px-2 lg:px-0 shadow lg:shadow-none"
                        #filterBar>
                <!-- Filter Bar Content -->
                <div class="flex w-full justify-between lg:justify-end items-center mx-2" @fadeIn>
                    <!-- Toggle Filter Button for Small Screens -->
                    <div class="lg:hidden flex sm:flex-1">
                        <button
                            class="items-center p-2.5 text-slate-500 hover:text-slate-500 bg-slate-50 rounded-lg"
                            (click)="toggleFilterPage(); $event.stopPropagation()"
                            type="button" #toggleFilterPageButton>
                            <svg class="w-4 h-4 md:h-5 md:w-5"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z" />
                            </svg>
                        </button>
                    </div>
                    <!-- Paging Header for Large Screens -->
                    <div class="hidden w-full lg:flex">
                        <app-paging-header [totalCount]="promotions.count" [pageSize]="promotions.pageSize" [pageIndex]="promotions.pageIndex"></app-paging-header>
                    </div>
                    <!-- Search Component -->
                    <div class="sm:w-3/5 sm:flex-2 lg:w-fit lg:order-2 lg:block lg:ml-5 mr-0 sm:mr-4 lg:mr-0">
                        <app-search></app-search>
                    </div>
                    <!-- Sort Component -->
                    <app-sort></app-sort>
                </div>
            </div>
            <!-- User Search Filters -->
            <app-user-filters *ngIf="categories.length > 0 && stores.length > 0" [stores]="stores" [categories]="categories"></app-user-filters>
            <!-- Promotions List -->
            <div *ngIf="promotions.count > 0" class="flex flex-wrap justify-between items-center mt-3 lg:mt-0" @fadeIn>
                <div class="flex w-full xs:w-1/2" *ngFor="let promotion of promotions.data">
                    <app-promotion-item class="m-2 w-full" [promotion]="promotion" ></app-promotion-item>
                </div>
                <div *ngIf="promotions.hasNextPage || promotions.hasPreviousPage" class="flex-row w-full mt-4 justify-center">
                    <app-paginator [totalCount]="promotions.count" [pageSize]="promotions.pageSize" [pageIndex]="promotions.pageIndex" (pageChange)="onPageChanged($event)"></app-paginator>
                </div>
            </div>
            <!-- No Found -->
            <div *ngIf="promotions.count <= 0"
                class="flex items-center w-fit m-2 mt-4 p-4 space-x-4 text-slate-600 bg-white border border-slate-200 rounded-lg shadow space-x" @fadeIn>
                <i class="fa-solid fa-circle-info fa-2xl text-slate-500"></i>
                <div class="pl-3 text-sm font-normal">Szukaliśmy, szukaliśmy, ale nie znaleźliśmy nic, co by spełniło twoje oczekiwania :(</div>
            </div>
        </div>
    </div>
    <!-- Loading Error -->
    <div *ngIf="isLoadingError && !isPromotionsLoaded" class="flex justify-center items-center">
        <bb-loading-error></bb-loading-error>
    </div>
</div>