<footer
  *ngIf="!isLoading"
  [ngClass]="{
    'fixed inset-x-0 bottom-0 bg-slate-50 h-14': isMobile,
    'bg-rose-600 relative mt-24': !isMobile
  }"
  @fadeIn>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 54"
    class="absolute top-0 w-full h-4 -mt-3 lg:-mt-10 lg:h-16"
    [ngClass]="{'text-slate-50': isMobile, 'text-rose-600': !isMobile}">
    <path fill="currentColor" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V40H0V22Z"></path>
  </svg>
  <ng-container *ngIf="!isMobile; else mobileFooterBar">
    <div class="px-4 pt-8 mx-auto md:max-w-full lg:max-w-screen-xl lg:px-6">
      <div class="flex w-full flex-col items-center md:items-start md:flex-row md:justify-between">
        <div class="md:w-1/4 pr-4 lg:p-0 text-center md:text-left">
          <a href="/" aria-label="Strona Główna" title="Bambeo" class="inline-flex items-center">
            <img class="w-auto h-5" src="./assets/bambeo_white.svg" alt="">
          </a>
          <div class="mt-1">
            <p class="text-sm text-rose-100">
                Oszczędzaj z każdym zakupem!
            </p>
          </div>
        </div>
        <div class="flex flex-row md:flex-col md:w-1/4 md:pl-8 lg:pl-16 border-t border-rose-500 mt-2 pt-3 md:pt-0 md:mt-0 md:border-t-0 md:border-l md:border-rose-500">
            <p class="hidden md:block font-extrabold uppercase text-sm tracking-wide text-rose-400">
                Przydatne linki
            </p>
            <ul class="flex flex-row items-center md:items-start space-x-2 md:space-x-0 md:flex-col md:mt-2 md:space-y-2">
            <li>
                <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Strona główna</a>
            </li>
            <li>
                <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Jak Korzystać</a>
            </li>
            <li>
                <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Kontakt</a>
            </li>
            <li>
                <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">O nas</a>
            </li>
            </ul>
        </div>
        <div class="flex flex-row md:flex-col md:w-1/4 mt-2 md:mt-0">
            <p class="hidden md:block font-extrabold uppercase text-sm tracking-wide text-rose-400">
                Informacje prawne
            </p>
            <ul class="flex flex-col xs:flex-row items-center md:items-start space-y-1 xs:space-y-0 xs:space-x-2 md:space-x-0 md:flex-col md:mt-2 md:space-y-2">
                <li>
                    <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Polityka prywatności</a>
                </li>
                <li>
                    <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Polityka plików cookies</a>
                </li>
                <li>
                    <a href="/" class="transition-colors duration-200 font-semibold text-sm text-rose-100 hover:text-rose-200">Regulamin</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col w-full sm:w-1/2 md:w-1/4 items-center md:items-start mt-5 md:mt-0 pt-5 md:pt-0 border-t border-rose-500 md:border-0">
            <p class="font-extrabold uppercase text tracking-wide text-white">
                Newsletter
            </p>
            <div class="mt-2 mb-4 text-xs text-rose-200 text-center md:text-left">
                Nie chcesz przegapić najlepszych promocji?
                <p>
                    Zapisz się do naszego newslettera i zacznij oszczędzać!
                </p>
            </div>
            <button type="submit" class="w-full p-3 text-white bg-rose-500 focus:ring-4 focus:ring-rose-400 font-medium rounded-lg group">
                <i class="fa-solid fa-newspaper transition-[padding] duration-300 pr-2 group-hover:pr-4"></i>
                Zapisz się
            </button>
          </div>
      </div>
      <div class="flex flex-col justify-between mt-5 pt-5 pb-5 border-t border-rose-500 sm:flex-row">
        <div class="text-xs text-rose-100">
            Copyright © 2023-2024 Bambeo.pl. Wszelkie prawa zastrzeżone.
            <p class="py-1">Made with <i class="fa-solid fa-heart hover:text-rose-200"></i> by <b>viachslvb</b></p>
        </div>
        <div class="flex items-center space-x-4 mt-4 sm:mt-0">
          <a href="/" class="transition-colors duration-300 text-white hover:text-rose-200">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
          <a href="/" class="transition-colors duration-300 text-white hover:text-rose-200">
            <i class="fa-brands fa-square-facebook fa-xl"></i>
          </a>
          <a href="/" class="transition-colors duration-300 text-white hover:text-rose-200">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #mobileFooterBar >
    <div class="flex flex-row justify-center items-center text-sm font-light space-x-12 h-16">
      <a routerLink="/"
        class="flex flex-col justify-center items-center text-slate-500">
        <i class="fa-solid fa-house fa-lg pb-3"></i>
        Główna
      </a>
      <a routerLink="/account"
        class="flex flex-col justify-center items-center text-slate-500">
        <i class="fa-solid fa-user fa-lg pb-3"></i>
        Moje Konto
      </a>
      <a routerLink="/favorites"
        class="flex flex-col justify-center items-center text-slate-500">
        <i class="fa-solid fa-heart fa-lg pb-3"></i>
        Ulubione
      </a>
    </div>
  </ng-template>
</footer>