<div *ngIf="showNotice"
  class="fixed bg-white shadow-[rgba(0,0,0,0.2)_0px_-5px_10px_-4px] inset-x-0 bottom-0 z-[1000]" @fadeOut>
  <div class="container max-w-7xl mx-auto py-4 px-4 md:px-6">
    <div class="flex flex-col md:flex-row justify-between md:items-center">
      <div class="md:w-[80%]">
        <h1 class="text-xl md:text-2xl font-medium text-slate-700 pb-1">Ważna informacja</h1>
        <p class="text-sm md:text-base font-light text-slate-500">Ten projekt jest w fazie rozwoju i jest prezentowany tylko w celach demonstracyjnych. Nie ma tu funkcji takich jak zgoda na pliki cookie ani regulamin, a dane mogą być fikcyjne. Dziękujemy za zrozumienie.</p>
      </div>
      <div class="ml-auto md:ml-0 mt-1">
        <button (click)="acceptCookies()" type="button"
        class="text-white bg-amber-400 hover:bg-amber-500 focus:ring-4 focus:ring-amber-200 font-medium rounded-lg py-2 px-3 focus:outline-none text-center">
          Rozumiem
        </button>
      </div>
    </div>
  </div>
</div>