<section class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-800 md:text-2xl mb-3">
                <i class="fa-solid fa-hands mr-3"></i> Logowanie
            </h1>
            <form [formGroup]="loginForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
                <app-text-input [formControl]="loginForm.controls['email']" [label]="'E-mail'" [type]="'email'" [name]="'email'" [placeholder]="'maciej.wysocki@gmail.com'"></app-text-input>
                <app-text-input [formControl]="loginForm.controls['password']" [label]="'Hasło'" [type]="'password'" [name]="'password'" [placeholder]="'••••••••'"></app-text-input>
                <div class="flex items-center justify-between text-xs xs:text-sm">
                    <div class="flex items-start cursor-pointer">
                        <div class="flex items-center h-5 cursor-pointer">
                            <input id="remember" formControlName="rememberMe" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-slate-200 rounded bg-slate-50 focus:ring-4 focus:ring-rose-300 text-rose-600 cursor-pointer" required="">
                        </div>
                        <div class="ml-3 cursor-pointer">
                            <label for="remember" class="text-slate-500 cursor-pointer">Zapamiętaj mnie</label>
                        </div>
                    </div>
                    <a routerLink="/account/forgot-password" class="font-medium text-slate-600 hover:underline">Nie pamiętam hasła</a>
                </div>
                <div *ngIf="errorMessage" class="text-xs text-rose-600 px-1">{{errorMessage}}</div>
                <button type="submit"
                    [disabled]="isLoading"
                    class="w-full bg-rose-500 text-white hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    [ngClass]="{'bg-rose-400 hover:bg-rose-400': isLoading}"
                    >
                    Zaloguj Się
                    <span *ngIf="isLoading">
                        <svg aria-hidden="true" class="inline w-4 h-4 text-rose-100 animate-spin fill-rose-600 ml-2" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </span>
                </button>
                <p class="text-sm font-light text-slate-500">
                    Nie masz jeszcze konta? <a routerLink="/account/signup" class="font-medium text-slate-600 hover:underline">Zarejestruj się</a>
                </p>
            </form>
        </div>
    </div>
</section>