<!-- TODO: Advanced search with suggestions / Search by Tag -->
<label for="promotion-search" class="mb-2 text-sm font-medium text-slate-700 sr-only">Search</label>
<div class="relative group">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <i class="fa-solid fa-magnifying-glass text-slate-400 lg:text-slate-500 transition-colors duration-300" #searchIcon></i>
        <!-- <svg class="w-4 h-4 text-slate-400 lg:text-slate-700 transition-colors duration-300" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" #searchSvgIcon>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg> -->
    </div>
    <input id="promotion-search" #promotionSearch
        class="sm:w-full lg:min-w-[350px] p-2.5 pl-10 lg:pl-10 text-sm font-light text-slate-500 focus:text-slate-600 lg:text-slate-600 placeholder-slate-500 focus:placeholder-slate-600 lg:placeholder-slate-600 bg-slate-100 lg:bg-slate-50 lg:focus:bg-white lg:border lg:border-slate-200 rounded-lg focus:border-slate-300 focus:ring-0 transition-colors duration-300 focus:outline-none"
        (focus)="onSearchInputFocus()" (blur)="onSearchInputBlur()"
        placeholder="Wpisz czego szukasz..." />
</div>