<!-- TODO: Advanced search with suggestions / Search by Tag -->
<label for="promotion-search" class="mb-2 text-sm font-medium text-slate-700 sr-only">Search</label>
<div class="relative group">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <i class="fa-solid fa-magnifying-glass text-slate-400 lg:text-slate-500 transition-colors duration-300" #searchIcon></i>
    </div>
    <input id="promotion-search" #promotionSearch
        class="sm:w-full lg:min-w-[350px] p-2.5 pl-10 lg:pl-10 text-sm font-light text-slate-500 focus:text-slate-600 lg:text-slate-600 placeholder-slate-500 focus:placeholder-slate-600 lg:placeholder-slate-600 bg-slate-100 lg:bg-slate-50 lg:focus:bg-white lg:border lg:border-slate-200 rounded-lg focus:border-slate-300 focus:ring-0 transition-colors duration-300 focus:outline-none"
        (focus)="onSearchInputFocus()" (blur)="onSearchInputBlur()"
        placeholder="Wpisz czego szukasz" />
</div>