<!-- LG Screen -->
<div class="hidden lg:flex items-center order-1 border-r border-slate-200 pr-5 group relative">
    <div class="flex min-w-max mr-4 text-slate-600 font-light text-sm">{{ getCurrentSortLabel() }}</div>
    <button #changeSortButton
    class="group flex items-center justify-center p-2.5 bg-slate-100 rounded-lg border border-slate-200 focus:border-rose-500 focus:bg-rose-500 focus:ring-4 focus:ring-rose-200 focus:outline-none"
    (click)="sortDropdownToggle()"
    type="button">
        <i class="fa-solid fa-arrow-down-wide-short text-slate-500 group-hover:text-slate-500 group-focus:text-white"></i>
    </button>
    <!-- Sort Dropdown Menu -->
    <div #changeSortDropdown
    class="z-10 divide-y divide-slate-100 rounded-lg shadow-xl bg-white w-max"
    [ngClass]="{
        'hidden': !isDropdownVisible,
        'absolute': isDropdownVisible }"
    [ngStyle]="{'top': isDropdownVisible ? 'calc(100% + 15px)' : 'auto', 'right': isDropdownVisible ? '0' : 'auto'}">
        <ul class="text-sm text-slate-700" aria-labelledby="changeSortButton">
            <li *ngFor="let sortType of sortTypes; let first = first; let last = last"
                class="flex px-5 py-1.5 cursor-pointer rounded-t-lg border-b border-slate-200 hover:bg-slate-100"
                [ngClass]="{
                    'bg-slate-100': sortType.selected,
                    'rounded-b-lg': last,
                    'rounded-t-lg': first}"
                (click)="onSortTypeChange(sortType)">
                <input type="radio" [value]="sortType.name" class="hidden" [(ngModel)]="sortType.selected">
                <div class="text-sm">
                    <div class="text-slate-700 cursor-pointer">
                        {{ sortType.label }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Mobile Version -->
<div class="lg:hidden">
    <h2 class="lg:hidden py-2 px-3 my-2 font-light text-lg text-slate-500">Sortuj Według</h2>
    <ul class="text-slate-700" aria-labelledby="changeSortButton">
        <li *ngFor="let sortType of sortTypes; let last = last"
            class="flex px-4 py-2 cursor-pointer"
            [ngClass]="{ 'border-b border-slate-200': !last }"
            (click)="onSortTypeChange(sortType)">
            <input type="radio" [checked]="sortType.selected" (change)="onSortTypeChange(sortType)"
                class="text-rose-500 focus:ring-rose-400 focus:text-rose-600 border border-slate-300 focus:ring-3 cursor-pointer mr-3">
            <div class="font-light text-slate-700">
                {{ sortType.label }}
            </div>
        </li>
    </ul>
</div>
