<!-- Loading Indicator Section -->
<ng-container *ngIf="!dataLoaded; else settingsData">
  <bb-loading-spinner *ngIf="showLoadingSpinner" [width]="'1rem'" [height]="'1rem'"></bb-loading-spinner>
</ng-container>
<!-- Data Display Section -->
<ng-template #settingsData>
  <div @fadeIn>
    <h1 class="text-3xl font-medium mb-9 text-slate-700">
      Ustawienia
    </h1>
    <h1 class="text-xl leading-6 text-slate-800">
      <i class="fa-solid fa-envelope mr-2"></i> Ustawienia powiadomień e-mail
    </h1>
    <div class="h-4"></div>
    <div class="w-full bg-white lg:rounded-lg lg:shadow lg:py-5 lg:px-6">
      <form [formGroup]="settingsForm" (ngSubmit)="saveAccountSettings()" @fadeIn>
        <div formGroupName="emailSettings">
          <div *ngFor="let option of emailSettingsOptions" class="mb-2">
            <label class="cursor-pointer font-light">
              <input type="checkbox" [formControlName]="option.formControlName"
                      class="text-rose-500 bg-slate-200 border-0 rounded focus:ring-rose-500 focus:text-rose-600 focus:ring-3 mr-2 cursor-pointer">
              {{ option.label }}
            </label>
          </div>
        </div>
        <button type="submit"
            [disabled]="isSavingInfo || !settingsForm.dirty"
            class="w-32 mt-5 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-3 py-2 text-center"
            [ngClass]="isSettingsChanged ? isSavingInfo ? 'bg-rose-400 hover:bg-rose-400 text-white' : 'bg-rose-500 hover:bg-rose-600 text-white'
            : 'bg-slate-200 hover:bg-slate-200 text-slate-400'"
            >
            <span class="transition-[padding] duration-200"
              [ngClass]="{'pr-3': isSavingInfo}">
              Zapisz
            </span>
            <span *ngIf="isSavingInfo">
                <bb-loading-spinner [width]="'1rem'" [height]="'1rem'"></bb-loading-spinner>
                <span class="sr-only">Loading...</span>
            </span>
        </button>
      </form>
    </div>
  </div>
</ng-template>


