<section class="flex flex-col items-center justify-center my-20 px-6 mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-800 md:text-2xl mb-3">
                Zmiana Hasła
            </h1>
            <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                <div class="text-slate-700 text-sm">
                    Wprowadź swoje nowe hasło poniżej. Upewnij się, że jest ono silne i trudne do odgadnięcia.
                </div>
                <bb-text-input [formControl]="passwordResetForm.controls['password']" [label]="'Nowe hasło'" [type]="'password'" [name]="'password'" [placeholder]="'••••••••'"></bb-text-input>
                <bb-text-input [formControl]="passwordResetForm.controls['confirmPassword']" [label]="'Powtórz nowe hasło'" [type]="'password'" [name]="'confirmPassword'" [placeholder]="'••••••••'"></bb-text-input>
                <div *ngIf="errors" class="text-xs text-rose-600 px-1 mt-2 my-4">
                    <li *ngFor="let error of errors">
                        {{error}}
                    </li>
                </div>
                <button type="submit"
                    [disabled]="isLoading || isChanged || errorMessage"
                    class="w-full bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    [ngClass]="{'bg-rose-400 hover:bg-rose-400 text-white': isLoading, 'text-white': !isChanged, 'bg-slate-200 hover:bg-slate-200 text-slate-400': isChanged || errorMessage}"
                    >
                    <ng-container *ngIf="isLoading; else notLoading">
                        Zmieniam
                        <span *ngIf="isLoading">
                            <bb-loading-spinner [width]="'1rem'" [height]="'1rem'" class="ml-3"></bb-loading-spinner>
                            <span class="sr-only">Loading...</span>
                        </span>
                    </ng-container>
                    <ng-template #notLoading>
                        {{ isChanged ? 'Hasło Zostało Zmienione' : 'Zmień Hasło' }}
                    </ng-template>
                </button>
                <div *ngIf="isChanged" class="text-slate-700 text-xs mt-2">
                    Twoje hasło zostało pomyślnie zmienione. Teraz możesz się zalogować za pomocą nowego hasła.
                    <a routerLink="/account/login">
                        <button type="submit"
                        class="w-full text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 mt-5 text-center">
                            Zalogować Się
                        </button>
                    </a>
                </div>
                <div *ngIf="errorMessage" class="text-xs font-light text-rose-600 mt-2">
                    {{ errorMessage }}
                    <a routerLink="/">
                        <button
                        class="w-full text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 mt-5 text-center">
                            Powrót do Strony Głównej
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>