<ng-container *ngIf="isChecked && isHomePage">
    <header class="container max-w-7xl mx-auto px-6 mb-14" @fadeIn>
        <div class="flex flex-col md:flex-row justify-between items-center my-5">
            <img class="h-36 xs:h-56 lg:h-72" src="./assets/header-picture.svg" alt="" />
            <div class="text-center md:text-left sm:pl-5 lg:pl-10 xl:pl-24">
                <h1 class="mb-4 font-bold leading-none tracking-tight text-slate-700 text-base xs:text-xl md:text-3xl lg:text-4xl mt-5 md:mt-0"><span class="underline underline-offset-3 decoration-8 decoration-yellow-300">Oszczędzaj</span> na zakupach, korzystaj z życia</h1>
                <p class="text-sm xs:text-lg lg:text-xl font-normal text-slate-500">Jesteśmy Twoim partnerem w poszukiwaniu najlepszych zniżek na produkty spożywcze. Oszczędzaj pieniądze i ciesz się życiem.</p>
                <button type="button" class="hidden text-slate-700 bg-white border border-slate-200 focus:outline-none hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-7">Dowiedz się więcej</button>
            </div>
        </div>
    </header>
</ng-container>
<!-- <ng-container *ngIf="isChecked && !isHomePage">
    <app-header-section></app-header-section>
</ng-container> -->