<a routerLink="/products/{{promotion.product.id}}" class="flex flex-row xs:flex-col md:flex-row md:max-w-xl items-center h-full bg-white border border-slate-200 rounded-lg shadow group">
    <div class="flex w-2/6 xs:w-full md:w-2/6 flex-col xs:flex-row md:flex-col justify-center items-center">
        <img class="h-36 md:h-28 w-36 object-contain md:rounded-none rounded-t-lg md:rounded-l-lg m-3" src="{{ promotion.product.imageUrl }}" alt="">
    </div>
    <div class="flex w-4/6 xs:w-full md:w-4/6 flex-col justify-between h-full px-4 py-5 md:px-5 md:py-3 leading-normal border-l border-slate-100 group-hover:bg-slate-50">
        <div class="text-slate-700 mb-1 pb-1 border-b border-slate-100">
            <h5 class="font-medium tracking-tight leading-tight py-0 my-0">{{ promotion.product.name }}</h5>
            <div class="text-sm">w <span class="text-rose-500">{{ promotion.product.store.name }}</span></div>
        </div>
        <div class="mb-4 md:mb-3">
            <div class="text-sm text-slate-700 font-light mb-0.5">{{ promotion.discountCondition }}</div>
            <div class="flex items-center">
                <div class="text-lg font-semibold text-white bg-rose-500 w-fit px-2 rounded">{{ promotion.price }}</div>
                <span class="text-xs px-1">zł / opak</span>
                <div class="bg-amber-400 text-white p-1 rounded font-semibold text-xs">-{{ promotion.discountPercentage }} %</div>
            </div>
        </div>
        <div class="flex font-light text-slate-500 items-center">
            <i class="fa-regular fa-clock pr-2 fa-sm"></i>
            <span class="text-xs">Od {{ promotion.startDate | date:'d.MM' }} do {{ promotion.endDate | date:'d.MM' }}</span>
        </div>
    </div>
</a>