<app-navbar></app-navbar>
<app-header *ngIf="isHomePage"></app-header>
<main [ngClass]="{'pb-24': isMobile}">
  <router-outlet></router-outlet>
</main>
<p-toast
  position="top-right"
  [preventOpenDuplicates]=true
  [breakpoints]="{ '640px': { width: '100%', right: '0', left: '0', top: '0' } }"
  showTransformOptions="translateY(-100%)"
>
</p-toast>
<ngx-spinner bdColor="rgba(255,255,255,0)" size="medium" color="#e11d48" type="ball-spin-rotate" [fullScreen]="true"
  name="pageLoadingSpinner"></ngx-spinner>
<app-footer class="mt-auto"></app-footer>
<app-cookie-notice></app-cookie-notice>