<app-layout-center @fadeIn>
    <h1 class="text-3xl font-medium text-slate-700 mb-3">
        <i class="fa-regular fa-circle-question mr-3"></i> Nie Pamiętasz Hasła?
    </h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="text-slate-600 font-light">
            Wpisz swój adres e-mail, aby otrzymać link do zmiany hasła.
        </div>
        <bb-text-input [formControl]="forgotPasswordForm.controls['email']" [label]="'E-mail'" [type]="'email'"
            [name]="'email'" [placeholder]="'maciej.wysocki@gmail.com'"></bb-text-input>
        <div *ngIf="errors" class="text-rose-600 px-1 mt-2 my-4">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </div>
        <button type="submit" [disabled]="isSending || isSent"
            class="w-full bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg px-5 py-2.5 text-center"
            [ngClass]="{'bg-rose-400 hover:bg-rose-400': isSending, 'text-white': !isSent, 'bg-slate-200 hover:bg-slate-200 text-slate-400': isSent}">
            <ng-container *ngIf="isSending; else notSending">
                Wysyłam
                <span *ngIf="isSending">
                    <bb-loading-spinner [width]="'1rem'" [height]="'1rem'" class="ml-3"></bb-loading-spinner>
                    <span class="sr-only">Loading...</span>
                </span>
            </ng-container>
            <ng-template #notSending>
                {{ isSent ? 'Link Został Wysłany' : 'Wyślij Link' }}
            </ng-template>
        </button>
        <div *ngIf="isSent" class="text-slate-600 font-light text-center text-sm mt-2">
            Prosimy sprawdzić swoją skrzynkę odbiorczą. Jeżeli podany adres e-mail {{ email }} jest powiązany z
            kontem użytkownika, link umożliwiający zmianę hasła zostanie wysłany.
            <a routerLink="/">
                <button
                    class="w-full text-white text-base bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg px-5 py-2.5 mt-5 text-center">
                    Powrót do Strony Głównej
                </button>
            </a>
        </div>
    </form>
</app-layout-center>